* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parent {
    max-width: 800px;
    height: 700px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
}
.child1{
    grid-column: 1 / 3 ;
    grid-row: 1 / 2;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
}
.child1 .flex1{
    text-align: left;
    padding: 50px;
    padding-bottom: 0px;
}
.child1 .flex1 h6{
    font-size: 1rem;
}
.child1 .flex1 p{
    color: silver;
    font-size: 0.65rem;
}
.child1 .flex2 img{
    height: 225px;
}
.child2{
    grid-column: 3 / 5 ;
    grid-row: 1 / 2;
    background-color: #f7f7f7;
    text-align: center;
}
.child2 p{
    padding: 25px 40px ;
    padding-bottom: 10px;
}
.child2 h6{
    font-weight: 400;
    font-size: 1.75rem;
    padding-bottom: 10px;
}
.child2 a{
    color: rgb(143, 207, 229);
}
.child3{
    grid-column: 1 / 2 ;
    grid-row: 2 / 3;
    background-color: #f06938;
    text-align: center;
}
.child3 img{
    width: 200px;
    height: 125px;
}
.child3 h6{
    text-align: center;
    color: white;
    font-size: 1.05rem;
}
.child3 a{
    color: #ffcc00;
    text-decoration: none;
    padding-top: 10px;
    font-size: 0.65rem;
}

.child4{
    grid-column: 2 / 4 ;
    grid-row: 2 / 3;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.child4 .flex1,
.child4 .flex2 {
    flex: 1;
}
.child4 .flex1 h6{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    font-size: 0.95rem;
    text-align: center;
}
.child4 .flex1 p{
    padding-top: 15px;
    font-size: 0.60rem;
    color: #c0c0c0;
    text-align: center;
}
.child4 .flex1 img{
    padding-left: 25px;
    width:150px;
    height:130px;
}
.child4 .flex2 p{
    padding-bottom: 20px;
    font-size: 0.74rem;
}
.child4 .flex2 a{
    text-decoration: none;
    color: rgb(86, 190, 225);
    font-size: 0.65rem;
}
.child5{
    grid-column: 4 / 5 ;
    grid-row: 2 / 4;
    background-color: #a59abd;
    text-align: center;
    color: white;
}
.child5 .inner h6{
    font-size: 0.75rem;
    padding-top:30px ;
    padding-bottom: 10px;
} 
.child5 .inner p{
    font-size: 0.75rem;
    padding-bottom: 20px;
}
.child5 .inner button{
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background: #ffcc00;
}
.child6{
    grid-column: 1 / 2 ;
    grid-row: 3 / 4;
    background-color: white;
    text-align: center;
}
.child6 .inner img{
    width:198px;
    height: 160px;
}
.child6 .inner h6{
    font-weight: 500;
    font-size: 1rem;
}
.child6 .inner a{
    text-decoration: none;
    font-size: 0.65rem;
    color: #7fcae3;
}
.child7{
    position: relative;
    grid-column: 2 / 4 ;
    grid-row: 3 / 4;
    background-color: #8faab0;
}
.child7 .inner .sam{
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 5px;
    padding: 5px;
    background-color: tomato;
    font-size: 0.75rem;
    color: white;
}
.child7 .inner h6{
    font-size: 1rem;
    padding: 29px;
    font-weight: 700;
    text-align: center;
    color: white;
}
.child7 .inner img{
    width: 398px;
    height: 129px;
}
@media screen and (max-width:700px) {

    .parent {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .parent>div {
        grid-column: auto;
        grid-row: auto;
    }

    .child1 {
        flex-direction: column;
        text-align: center;
    }

    .child4 {
        flex-direction: column;
        text-align: center;
    }

    .child5 {
        padding: 20px 10px;
    }

    .child7 .inner img {
        width: 100%;
        height: auto;
    }
}