* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}
body {
    background: #edf2f8;
    padding: 40px;
}
/* grid */
.container {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
/* card base */
.card {
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}
.card h3 {
    margin: 15px 0;
    font-size: 1.1rem;
}
.card p {
    font-size: 0.85rem;
    line-height: 1.5;
}
/* user */
.user {
    display: flex;
    align-items: center;
    gap: 12px;
}
.user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user span {
    font-size: 0.75rem;
}
.card1 {
    background: #733fc8;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.card2 {
    background: #49556b;
    grid-column: 3/4;
    grid-row: 1/2;
}
.card3 {
    background: #ffffff;
    color: #333;
    grid-column: 4/5;
    grid-row: 1/3;
}
.card4 {
    background: #ffffff;
    color: #333;
    grid-column: 1/2;
    grid-row: 2/3;
}
.card5 {
    background: #18202d;
    grid-column: 2/4;
    grid-row: 2/3;
}
/*responsive*/
@media(max-width:900px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .container>div {
        grid-column: auto;
        grid-row: auto;
    }
}